* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.header {
    position: relative;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: maroon;
    text-align: center;
    color: white;
    line-height: 100px;
    box-sizing: border-box;
    z-index: 10;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
#sidebarlogo {
    height: 80px;
    width: 220px;
    object-fit: cover;
    margin-top: 4vh;
    border-radius: 3px 30px;
}
.sidebar {
    position: relative;
    left: 0;
    top: 0;
    height: 100vh;
    width: 230px;
    padding: .4rem .8rem;
    background: linear-gradient(110deg, black 20%, rgb(77, 1, 1) 100%);
    z-index: 5;
}
.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
.sidebar ul li {
    text-align:center;
    margin-left: 0rem;
}
.sidebar ul li a {
    line-height: 15vh;
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: brown;
    border: solid white 1px;
    padding: 1rem 20px 1rem 20px;
    border-radius: 0.8rem;
    justify-content: space-around;
    display: flex;
    align-items: center;
    box-sizing: border-box;

}
.main {
    margin-left: 260px;
    padding-top: 100px;
}